html{

background-color:#E4E4E4;

}

header{

background-color:black;
 padding-top:4em;
 padding-bottom:1em;

}
h1{
color:black;
text-align:center;
font-family:rokkit;


}
footer{
background-color:	#C1C1C1;
padding-bottom:100%;


}
header ul li{
   
   float:right;
   list-style-type:none;

   
    }
header ul li a{
color:white;

padding-right:3em;
   font-family:rokkit;


}
  
img.pic{
    display: block;
    margin-left: auto;
    margin-right: auto;

    }
     
 .subheader ul{
text-align:center;
background-color:	#333333;
margin:0em;
padding:.5em;

 }
.subheader ul li {
display:inline;
}

.subheader ul li a{
color:white;
padding-left:3em;
padding-right:3em;
   font-family:rokkit;
}
.subheader a:hover{
color:		#FF8080;

}

.language ul{
text-align:center;
background-color:#4D4D4D;
margin:0em;
padding:.5em;
}

.language ul li {
display:inline;
}

.language ul li a{
color:white;
padding-left:3em;
padding-right:3em;
   font-family:rokkit;
}
.language a:hover{
color:		#FF8080;

}



    