html{

background-color:#E4E4E4;

}

header{

background-color:black;
 padding-top:4em;
 padding-bottom:1em;

}
footer{
background-color:	#C1C1C1;
padding-bottom:100%;


}
header ul li{
   
   float:right;
   list-style-type:none;
   
    }
header ul li a{
color:white;

padding-right:3em;


}
  
img.pic{
    display: block;
    margin-left: auto;
    margin-right: auto;

    }
     
 .subheader ul{
text-align:center;
background-color:red;
padding:.5em;


 
 }
.subheader ul li {
display:inline;
}
.subheader ul li a{
color:white;

}
    